.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    height: 100vh;
    background: linear-gradient(to right, #32612D 45%, #FFFF 0%);
}

.resume-box {
    width: 700px;      /* Width of the box */
    border-radius: 20px;
    box-shadow: -1px 6px 15px rgba(0, 0, 0, 0.2); /* Box shadow */
    display: flex;
    overflow: hidden; /* Ensure internal content doesn't cause reflow */

  }

.resume-box-left {
    flex: 0.5;
    background-color: white;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: left; /* Center align items horizontally */
    justify-content: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.resume-box-right {
    flex: 0.5;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: right;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.resume-header {
    color: white;
    margin-right: 540px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

.position {
    margin-left: 50px;
    font-weight: bold;
    font-size: 20px;
}

.date {
    font-size: 19px;
    margin-left: 50px;
}

.text {
    margin-left: 50px;
}

.paragraph {
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 50px;
}


@media (max-width: 480px) {

    .spacing {
        margin-top: 10px;
    }

    .container {
        background: linear-gradient(to right, #32612D 45%, #32612D 0%);
        width: 100%;
        overflow-x: hidden;
    }
    .resume-box {
        flex-direction: column;
        width: 400px;
        box-shadow: none;
    }

    .resume-box-left {
        border-bottom-left-radius: 0px;
        margin-bottom: -1px;
    }
    .resume-box-right {
        border-top-right-radius: 0px;
        align-items: left;
    }

    .resume-header {
        margin-top: 10px;
        margin-left: 300px;
        text-align: center;
    }

    .position {
        margin-left: 20px;
    }

    .text {
        margin-left: 20px;
    }

    .date {
        margin-left: 20px;
    }

    .paragraph {
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 0px;
    }

}