.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    height: auto;
    background: linear-gradient(to right, #32612D 45%, #FFFF 0%);
}

.resume-box {
    width: 90%;
    max-width: 700px;      /* Width of the box */
    border-radius: 20px;
    box-shadow: -1px 6px 15px rgba(0, 0, 0, 0.2); /* Box shadow */
    display: flex; /* Ensure internal content doesn't cause reflow */
  }

.resume-box-left {
    flex: 0.5;
    background-color: white;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: left; /* Center align items horizontally */
    justify-content: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.resume-box-right {
    flex: 0.5;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: right;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.resume-header {
    color: white;
    margin-right: 540px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

.resume-header2 {
    color: white;
    margin-right: 615px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

.resume-header3 {
    color: white;
    margin-right: 550px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

.position {
    margin-left: 14%;
    font-weight: bold;
    font-size: 20px;
}

.date {
    font-size: 19px;
    margin-left: 14%;
}

.text {
    margin-left: 14%;
}

.paragraph {
    font-size: 15px;
    margin-top: 8%;
    margin-bottom: 8%;
    margin-right: 14%;
}

.spacing2 {
    margin-top: 25px;
}

.spacing3 {
    margin-top: 10px;
}
ul.a {
    list-style-type: square;
    margin-left: 65px;
  }

  ul.a li::marker {
    color: #D4AF37; /* Gold color for the bullet points */
}

@media (max-width: 480px) {

    .spacing {
        margin-top: 0%;
    }

    .container {
        background: linear-gradient(to right, #32612D 45%, #32612D 0%);
        width: 100%;
        overflow-x: hidden;
    }
    .resume-box {
        flex-direction: column;
        width: 90%;
        box-shadow: none;
    }

    .resume-box-left {
        border-bottom-left-radius: 0px;
        border-top-right-radius: 20px;
        margin-bottom: -1px;
    }
    .resume-box-right {
        border-top-right-radius: 0px;
        border-bottom-left-radius: 20px;
        align-items: left;
    }

    .resume-header {
        margin-top: 2%;
        margin-bottom: 2%;
        margin-right: 50%;
        padding: 0px;
    }

    .resume-header2 {
        margin-top: 2%;
        margin-bottom: 2%;
        margin-right: 68%;
        padding: 0px;
    }

    .resume-header3 {
        margin-top: 2%;
        margin-bottom: 2%;
        margin-right: 54%;
        padding: 0px;
    }

    .position {
        margin-left: 6%;
    }

    .text {
        margin-left: 6%;
    }

    .date {
        margin-left: 6%;
    }

    .paragraph {
        margin-top: 5%;
        margin-left: 6%;
        margin-right: 6%;
    }

    ul.a {
        margin-left: 40px;
    }

    .spacing2{
        margin-top: 0px;
    }

    .spacing3{
        margin-top: 0px;
    }
}